
body{

  font-family: 'Montserrat-Black', sans-serif;
}


#title{

background-color: #ff4c68;
color: white;



}

.container-fluid{

  padding: 3% 15% 10% 15%;
}

.h1{
  font-family: 'Montserrat-Black', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;

}

.h2{
  font-family: 'Montserrat-Bold', sans-serif;
  line-height: 1.5;
  font-size: 3.5rem;

}




.navbar{
padding-bottom: 0 0 0 3rem;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2rem;
  font-weight: bold;

}
.nav-item{

  padding: 0 18px;
}
.nav-link{

font-family: 'Montserrat-light';
font-size: 1.2rem;


}

.row{

  margin-top: 3rem;
}

.download-button{
  margin: 20% 3% 5% 0;
}

.title-image{
  width: 60%;
  transform: rotate(25deg);


}

#features{
  padding: 7% 15%;
  text-align: center;
  background-color: white;



}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;

}
.icon:hover{

color: #ff4c68;


}
.featuresHeading{

  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 1.5rem;

}
.featuresDiscription{

color: #8f8f8f;

}


#testimonials{
  background-color: #ef8172;
  color: white;
  text-align: center;
}
.carousel-item{
padding: 7% 20%;

}
.testimonial-image{

  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press{
background-color: #ef8172;
text-align: center;
padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing{

padding: 100px;
text-align: center;

}
.card{

margin: 10px;
height: 100%;
text-align: center;
}



#cta{
font-family: 'Montserrat-Bold', sans-serif;
text-align: center;
background-color: #ef8172;
padding-top: 5px;
color: white;
}

.fotter-download-button{
margin: 50px;


}

#footer{

text-align: center;
background-color: #ef8172;
padding-bottom: 5px;

}
.footer-Copyright{
    margin: 0;
    padding-bottom: 20px;

}
